<h1><%= $game.player1.name %> vs <%= $game.player2.name %>  </h1>
<h2><%= $game.player1.hp %>HP <%= $game.player2.hp %>HP </h2>

<form action='/attack1' method='post'>
  <button type='submit'>Attack <%= $game.player1.name %></button>
</form>

<form action='/attack2' method='post'>
  <button type='submit'>Attack <%= $game.player2.name %></button>
</form>

<h2><%= $game.turn.name%>'s turn</h2>



  <!-- <button type='submit'>Attack Player 1</button> -->
